<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="https://ik.imagekit.io/audSPIRE/apple-touch-icon_io22juawH9.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://ik.imagekit.io/audSPIRE/favicon-32x32_6oy9W63gy.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://ik.imagekit.io/audSPIRE/favicon-16x16_LZ20d9B4g2.png">
    <link rel="manifest" href="../../public/site.webmanifest">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Dancing+Script:wght@500&family=Libre+Baskerville:wght@400;700&family=Noto+Sans&family=Noto+Serif&family=Shippori+Mincho+B1&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Libre+Baskerville&display=swap" rel="stylesheet">

     
<link rel="stylesheet" type="text/css" href="https://unpkg.com/aos@next/dist/aos.css" /> 
    <title>audSPIRE</title>
</head>

<body  onload="myLoading()" style="background-color:#212529;">
    <div class="container-fluid" style="overflow-x:hidden; padding:0">
        <div id="preload">
            <div class="loader">
                <div class="dots"></div>
                <div class="dots"></div>
                <div class="dots"></div>
                <!-- <div class="dots"></div> -->
                <!-- <div class="dots"></div> -->
            </div>
        </div>
       
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark nav-section" style="background-color:black !important;" aria-label="Third navbar example" >
            <div class="container-fluid mynav">
                <div>
                    <a class="navbar-brand" style="font-family: 'Libre Baskerville', serif;"><span style="font-family: 'Libre Baskerville', serif; font-size:1.5rem">aud</span><span style="font-family: 'Didact Gothic', sans-serif; font-size:2rem">SPIRE</span></a>
                </div>
    
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <div class="collapse navbar-collapse" id="navbarsExample03">
                    <ul class="navbar-nav me-auto mb-2 mb-sm-0 navbar-right">
                        <li class="nav-item">
                            <a class="nav-link" href="/sponsors">Sponsors</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/college">Colleges</a>
                        </li>
                        <li class="nav-item"> 
                            <a class="nav-link" href="/joinus">Join Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="front container-fluid" style="background-color:#212529 !important;" >
           <div class="row">
            <div class="col-sm-6"><img src="https://ik.imagekit.io/audSPIRE/rotating_logo_E8yZgQa3c.gif" class="img-fluid"></div>
                <div class="vision col-sm-6" style="color:#fff;  font-family: 'Comfortaa', cursive;">
                <h3>" With the vision of organizing significant and memorable college events, we at Audspire are here to present you a plethora of events which are unbiased and intrinsically enjoyable. We are the India's fastest growing platform of college fests."</h3>            
             </div>
             </div> 
        </div>
      
        <div class="container-fluid" style="background-color:#212529 !important; ">
            <h1 class="rang">रंग-RAGE</h1>
            <div class="row" style="margin-top : 2vh; margin-bottom:4vh; margin-left:1vw;">
                <div class="col-sm-5">
                    <img src="https://ik.imagekit.io/audSPIRE/WhatsApp_Image_2021-05-28_at_1.42.53_PM_aAsff8sXq.jpeg" id="image">
                </div>
                <div class="col-sm-7 opening" >
                    रंग-rage is our first ever virtual fest. It has a total of 12 events spread over a span of three weeks. Participants from over 30+ different esteemed institutes will be taking part in this event. NIT Jalandhar, NIT Trichy, NIT Rourkela, NIT Calicut, NIT Kurukshetra, MNNIT Allahabad, NIT Durgapur, NIT Silchar, MNIT Jaipur and many more NITs and universities across the nation will be <b>actively participating</b>.

                </div>
            </div>
            <div class="row mt-2 justify-content-around myrow">
                <div class="col-md-3 col-sm-4 mt-2 mycard" data-aos="fade-right" data-aos-delay:1500>
                    <div class="card">
                        <img class="card-img-top" src="https://ik.imagekit.io/audSPIRE/poster_2021-03-16-023957_FoAabibmW.png" loading="lazy" alt="Card image cap">
                        <div class="card-body">
                            <h3 class="card-title" style="font-family: 'Libre Baskerville'; font-weight:700;">HOOK STEP</h3>
                            <p class="card-text" style="font-family: 'Shippori Mincho B1', serif;">Hype up the momentum and heat the beats with your groovy steps and vivid eyes in this DANCE battle.</p>
                            <a href="/event/hook-step" class="btn btn-primary">More details</a>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-3 col-sm-4 mt-2 mycard" data-aos="fade-left" data-aos-delay:1500>
                    <div class="card">
                        <img class="card-img-top" src="https://ik.imagekit.io/audSPIRE/poster_2021-03-16-025932_oryFL4iJPT.png" loading="lazy">
                        <div class="card-body">
                            <h3 class="card-title" style="font-family: 'Libre Baskerville'; font-weight:700;">FOLK ONN</h3>
                            <p class="card-text" style="font-family: 'Shippori Mincho B1', serif;">Witness the fun filled extravaganza of enthusiasm by participating in this FOLK DANCE competition</p>
                            <a href="/event/folk-onn" class="btn btn-primary">More details</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 mt-2 mycard" data-aos="fade-right" data-aos-delay:1500>
                    <div class=" card">
                        <img class="card-img-top" src="https://ik.imagekit.io/audSPIRE/poster_2021-03-16-025616_Q6xYRxZ_L0.png" loading="lazy">
                        <div class="card-body">
                            <h3 class="card-title" style="font-family: 'Libre Baskerville'; font-weight:700; ">RAP BATTLE</h3>
                            <p class="card-text" style="font-family:'Shippori Mincho B1', serif;">Let your bloodline scream how FIRE you are through the world of rhymes and beats.</p>
                            <a href="/event/rap" class="btn btn-primary">More details</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3 justify-content-around myrow">
                <div class="col-md-3 col-sm-4 mt-2 mycard " data-aos="fade-left" data-aos-delay:1500>
                    <div class="card">
                        <img class="card-img-top" src="https://ik.imagekit.io/audSPIRE/poster_2021-03-16-025643_KyRq6TJHXF.png" loading="lazy" alt="Card image cap ">
                        <div class="card-body ">
                            <h3 class="card-title" style="font-family: 'Libre Baskerville'; font-weight:700;">MELODIMANIA</h3>
                            <p class="card-text " style="font-family: 'Shippori Mincho B1', serif;; ">Tune up your instruments and get your vocals warmed up for this ACOUSTIC SINGING competition.</p>
                            <a href="/event/melodimania" class="btn btn-primary ">More details</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 mt-2 mycard " data-aos="fade-right" data-aos-delay:1500>
                    <div class="card">
                        <img class="card-img-top " src="https://ik.imagekit.io/audSPIRE/poster_2021-03-16-024803_fsx70loJz.png" loading="lazy" alt="Card image cap ">
                        <div class="card-body ">
                            <h3 class="card-title " style="font-family: 'Libre Baskerville'; font-weight:700;">SHOT at SIGHT</h3>
                            <p class="card-text " style="font-family: 'Shippori Mincho B1', serif;; ">Get your camera at the ready and create a truly captivating image in this PHOTOGRAPHY event.</p>
                            <a href="/event/shotatsight" class="btn btn-primary ">More details</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 mt-2 mycard " data-aos="fade-left" data-aos-delay:1500>
                    <div class="card ">
                        <img class="card-img-top " src="https://ik.imagekit.io/audSPIRE/poster_2021-06-02-115534_W7DPh54qx.png" loading="lazy" alt="Card image cap ">
                        <div class="card-body ">
                            <h3 class="card-title " style="font-family: 'Libre Baskerville'; font-weight:700; ">Mr & Ms रंग-RAGE</h3>
                            <p class="card-text " style="font-family: 'Shippori Mincho B1', serif;; ">Grab the limelight with creativity & art in the first of its kind,an online FASHION AND PERSONA event </p>
                            <a href="/event/rangrage" class="btn btn-primary ">More details</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3 justify-content-around myrow">
                <div class="col-md-3 col-sm-4 mt-2 mycard" data-aos="fade-right" data-aos-delay:1500>
                    <div class="card">
                        <img class="card-img-top" src="https://ik.imagekit.io/audSPIRE/poster_2021-05-27-010016_K9_rMHJGu.png" loading="lazy" alt="Card image cap">
                        <div class="card-body">
                            <h3 class="card-title" style="font-family: 'Libre Baskerville'; font-weight:700;">
                                GRAPHOPEDIA
                            </h3>
                            <p class="card-text" style="font-family: 'Shippori Mincho B1', serif;">Show the talent you imbibed by your eloquent vision and buckle up for GRAPHIC DESIGN competition</p>
                            <a href="/event/graphopedia" class="btn btn-primary">More details</a>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-3 col-sm-4 mt-2 mycard" data-aos="fade-left" data-aos-delay:1500>
                    <div class="card">
                        <img class="card-img-top" src="https://ik.imagekit.io/audSPIRE/poster_2021-05-27-010055_8LMXLWGn5.png" loading="lazy" alt="Card image cap">
                        <div class="card-body">
                            <h3 class="card-title" style="font-family: 'Libre Baskerville'; font-weight:700;"> DOUBT DWELL</h3>
                            <p class="card-text" style="font-family: 'Shippori Mincho B1', serif;">Exhibit your ORATORY SKILLS and throw light on the topic from different angles.</p>
                            <a href="/event/doubtdwell" class="btn btn-primary">More details</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 mt-2 mycard" data-aos="fade-right" data-aos-delay:1500>
                    <div class="card">
                        <img class="card-img-top " src="https://ik.imagekit.io/audSPIRE/alfaaz__AgLEd45Q.jpg" loading="lazy" alt="Card image cap ">
                        <div class="card-body ">
                            <h3 class="card-title " style="font-family: 'Libre Baskerville'; font-weight:700; ">ALFAAZ</h3>
                            <p class="card-text " style="font-family: 'Shippori Mincho B1', serif;; ">Get ready to express your soul! Give link to your thoughts and Hail the art of POETRY</p>
                            <a href="/event/alfaaz" class="btn btn-primary ">More details</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3 justify-content-around myrow" style="margin-bottom: 1vh;">
                <div class="col-md-3 col-sm-4 mt-2 mycard" data-aos="fade-left" data-aos-delay:1500>
                    <div class="card">
                        <img class="card-img-top" src="https://ik.imagekit.io/audSPIRE/2_CMyx6FiJt.jpg" loading="lazy" alt="Card image cap">
                        <div class="card-body">
                            <h3 class="card-title" style="font-family: 'Libre Baskerville'; font-weight:700;">
                                WEEBiz
                            </h3>
                            <p class="card-text" style="font-family: 'Shippori Mincho B1', serif;">It's time to compete and defeat, it's time to decide who will bear the crown in this QUIZ COMPETITION.</p>
                            <a href="/event/weebiz" class="btn btn-primary">More details</a>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-3 col-sm-4 mt-2 mycard" data-aos="fade-right" data-aos-delay:1500>
                    <div class="card">
                        <img class="card-img-top" src="https://ik.imagekit.io/audSPIRE/tr:w-3362,h-3362,cm-extract,x-48,y-54/4__69N5oiXR.jpg" loading="lazy" alt="Card image cap">
                        <div class="card-body">
                            <h3 class="card-title" style="font-family: 'Libre Baskerville'; font-weight:700;">OP</h3>
                            <p class="card-text" style="font-family: 'Shippori Mincho B1', serif;">Make people laugh to death by participating in this video meme crossover competition.</p>
                            <a href="/event/op" class="btn btn-primary">More details</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 mt-2 mycard " data-aos="fade-left" data-aos-delay:1500>
                    <div class="card ">
                        <img class="card-img-top " src="https://ik.imagekit.io/audSPIRE/WhatsApp_Image_2021-05-28_at_12.17.11_PM_MkT1_oaZW.jpeg" loading="lazy" loading="lazy" alt="Card image cap ">
                        <div class="card-body ">
                            <h3 class="card-title " style="font-family: 'Libre Baskerville'; font-weight:700; ">Star Chef</h3>
                            <p class="card-text " style="font-family: 'Shippori Mincho B1', serif;; ">Chance for aspiring Cooks, Bakers and Chefs to showcase their talent and be the face of MunchIn Platform.</p>
                            <a href="/event/munchin" class="btn btn-primary ">More details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="bg-dark text-center text-white container-fluid" style="background:#000!important" data-aos="fade-left" data-aos-delay: 5000>
    
            <div class="container p-4">
    
                <section class="mb-4">
                    <a class="btn btn-outline-light btn-floating m-1" href="https://m.facebook.com/profile.php?id=106371787794346&ref=content_filter " role="button"><i class="fa fa-facebook " aria-hidden="true "></i>
                    </a>
    
    
                    <a class="btn btn-outline-light btn-floating m-1" href="https://www.youtube.com/channel/UCahhaemNmtYVMYjckKyEOww" role="button"><i class="fa fa-youtube"></i
                    ></a>
    
    
                    <a class="btn btn-outline-light btn-floating m-1" href="#! " role="button"><i class="fa fa-google "></i
                    ></a>
    
                     <a class="btn btn-outline-light btn-floating m-1" target="_blank" href="https://instagram.com/audspire?igshid=mjrh6r6n1p1e" role="button"><i class="fa fa-instagram "></i
                    ></a>
    
    
                    <a class="btn btn-outline-light btn-floating m-1" target="_blank" href="https://www.linkedin.com/company/audspire" role="button"><i class="fa fa-linkedin " aria-hidden="true "></i>
                    </a>
                </section>
    
                <section class="mb-4 justify-content-around">
                    <a href="/" class="text-white" style="text-decoration: none;">
                        <h5 class="text-uppercase ">
                            </h4>Home</h4>
                      </a>
                    <a href="/aboutus" class="text-white" style="text-decoration: none;">
                        <h5 class="text-uppercase ">
                            </h4>About Us</h4>
                    </a>
                    <a href="/contactus" class="text-white" style="text-decoration: none;">
                        <h5 class="text-uppercase ">
                            </h4>Contact Us</h4>
                    </a>
                </section>
            </div>
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                © 2021 Copyright:
                <a class="text-white" href="#">AUDSPIRE</a>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js " integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js " integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG " crossorigin="anonymous "></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js "></script>
    <script>
        AOS.init();
    </script>
    <script>
        var preload = document.getElementById('preload')

        function myLoading() {
            preload.style.display = 'none';
        }


      </script>
</body>
</html>